apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- namespace.yaml
- secret.yaml
- daemonset-power.yaml
- daemonset-heat.yaml
- daemonset-water.yaml
images:
- name: ghcr.io/jonkerj/pynuts
  newTag: v0.4.0
patches:
- target:
    group: apps
    version: v1
    kind: DaemonSet
  path: pynuts-environment.json
