apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: prometheus
  namespace: monitoring
  labels:
    app: prometheus
spec:
  endpoints:
  - port: web
  namespaceSelector:
    matchNames:
    - monitoring
  selector:
    matchLabels:
      operated-prometheus: "true"
