apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: node-feature-discovery
resources:
- https://github.com/kubernetes-sigs/node-feature-discovery/raw/v0.18.3/deployment/helm/node-feature-discovery/crds/nfd-api-crds.yaml
